<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="LiftBoxApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <connectionStrings>
      <add name="LiftBoxApp.Properties.Settings.LiftBoxConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=LiftBox;Integrated Security=True"
         providerName="System.Data.SqlClient" />
      <add name="LiftBoxApp.Properties.Settings.SapPPConnectionString"
         connectionString="Data Source=QROSAPP01;Initial Catalog=SapPP;Integrated Security=True"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <applicationSettings>
      <LiftBoxApp.Properties.Settings>
         <setting name="PuertoCom" serializeAs="String">
            <value>COM1</value>
         </setting>
      </LiftBoxApp.Properties.Settings>
   </applicationSettings>
</configuration>