<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyService.Properties.Settings.CS_SEY" connectionString="Data Source=TSR-SDB\SQL2005;Initial Catalog=SEY_Apps;User ID=sa;Password=password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>